@import "../../index.css";

.player {
    display: flex;
    align-items: center;
    padding: 0 18px;
    width: 352px;
    height: 48px;
    background-color: var(--UI-blue-transparent);
    border-radius: 48px;
}

.duration {
    margin-right: 12px;
    width: 41px;
}

.play-button,
.pause-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding: 0;
}

.play-button:disabled,
.pause-button:disabled {
    opacity: .5;
}

.player-range {
    position: relative;
    margin: 0 12px 0 8px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    width: 164px;
    height: 4px;
    border-radius: 50px;
}

.player-range::-webkit-slider-thumb {
    opacity: 0;
}


.player-range::-moz-range-thumb {
    background-color: transparent;
    border: none;
}

.download {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.download:hover path {
    fill: var(--UI-blue)
}


.loader {
    width: 15px;
    height: 15px;
    border: 2px solid var(--UI-blue);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.reset{
    margin-left: 17px;
    padding: 0;
    width: 24px;
    height: 24px;
    place-content: center;
    display: grid;
}

.reset div{
    width: 16px;
    height: 16px;
}

.reset svg{
    width: 16px;
    height: 16px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 