.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroud-primary);
    padding-bottom: 16px;
}

.header--left {
    display: flex;
    gap: 16px;
}
